<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.2.8/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.2.8/js/mui.min.js"></script>
  </head>
  <body>
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title"><h1>ハチイチ忘年会</h1></td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a href="#">About</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>
    <div id="content-wrapper" class="mui--text-center">
      <div class="mui--appbar-height"></div>
      <br /><br />
      <div class="mui--text-display3">ハチイチ忘年会 #1981s</div>
      <br /><br />
      <button class="mui-btn mui-btn--raised">Get started!</button>
    </div>
    <footer>
      <div class="mui-container mui--text-center">
      </div>
    </footer>
  </body>
</html>
